body {
    margin: 0;
    font-family: sans-serif;
}

.section {
    min-height: 100vh; /* Ensure sections are tall enough to scroll */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    transition: background-color 0.5s ease; /* Smooth transition for background color */
}

.blue-bg {
    Background-size:cover;
    background-image:url(https://i.pinimg.com/originals/17/d9/69/17d969b031dee95e3247e1df0dc21d4e.gif)
}


.green-bg {
    background-size:cover;
    background-image:url(https://64.media.tumblr.com/c0aac24d8208398851171e2f6a219527/b14ba849b01fa439-7d/s540x810/f6e1e6c7331378b3b89f4829ab2d629edf6d4229.gif)
}

.red-bg {
    background-size:cover;
    background-image:url(https://i.pinimg.com/originals/3f/85/0c/3f850cf9ebb7730b4ce75fadd310877b.gif)
}
