body {
    margin: 0;
    font-family: sans-serif;
}

.section {
    min-height: 100vh; /* Ensure sections are tall enough to scroll */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    transition: background-color 0.5s ease; /* Smooth transition for background color */
}

.blue-bg {
    Background-size:cover;
    background-image:url(https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjgv3baZdclS_iWx5IcAMd3oD5yg_eDVRTbTS8RJ_OBsSBut9E7wcVyFqzeOGz3Em8dprKRyX3hTv3THidZhQ9a9rOPbhGgbCZ25lYLoRBiT_j41dBKBPyKXN0YisFWLJoWuK9g/s1600/00001m2tssnapshot002707.png)
}


.green-bg {
    background-size:cover;
    background-image:url(https://i.imgur.com/l0sddar.gif)
}

.red-bg {
    background-size:cover;
    background-image:url(https://screenmuse.wordpress.com/wp-content/uploads/2012/11/the-secret-world-of-arrietty-2012.jpg)
}

.yellow-bg {
    background-size:cover;
    background-image:url(https://i.redd.it/cvlhjniteqxe1.gif)
}
    .orange-bg {
    background-size:cover;
    background-image:url(https://i.redd.it/3u7o4vgthuva1.gif)
}
 .purple-bg {
    background-size:cover;
    background-image:url(https://wallpaper.dog/large/20574086.png)
 }
    
    .grey-bg {
    background-size:cover;
    background-image:url(https://jw-webmagazine.com/wp-content/uploads/2021/01/Princess-Mononoke.jpg)
    
}
 .cool-bg {
    background-size:cover;
    background-image:url(https://cdn.shortpixel.ai/spai/q_glossy+ret_img+to_auto/www.slantmagazine.com/wp-content/uploads/2005/02/howlsmovingcastle.jpg)
    
}



}

