body {
    margin: 0;
    font-family: sans-serif;
}

.section {
    min-height: 100vh; /* Ensure sections are tall enough to scroll */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    transition: background-color 0.5s ease; /* Smooth transition for background color */
}

.blue-bg {
    Background-size:cover;
    background-image:url(https://i.pinimg.com/originals/17/d9/69/17d969b031dee95e3247e1df0dc21d4e.gif)
}


.green-bg {
    background-size:cover;
    background-image:url(https://i.imgur.com/l0sddar.gif)
}

.red-bg {
    background-size:cover;
    background-image:url(https://giffiles.alphacoders.com/104/104761.gif)
}

.yellow-bg {
    background-size:cover;
    background-image:url(https://64.media.tumblr.com/8b92fc55d62d626a51fc376bdad2f480/tumblr_ppzapu00FY1vfh4hs_540.gif)
}
